body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
  background: #f2f2f2;
}

#game-container {
  margin-top: 30px;
}

#number-box {
  font-size: 60px;
  font-weight: bold;
  height: 100px;
  margin-bottom: 20px;
}

#input-number {
  padding: 10px;
  font-size: 18px;
}

#stats p {
  font-size: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
}

.hidden {
  display: none;
}
