body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

#contenedor {
  background-color: #333;
  width: 90%;
  /* Ocupa casi todo el ancho de la pantalla */
  height: 90vh;
  /* 70% de la altura de la ventana */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
button {
  border-radius: 100px;
  position: absolute;

  font-family: "Courier New", Courier, monospace;
}
