body{
    height: 75vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;

}
button{
        border-radius: 5px;

        font-family: 'Courier New', Courier, monospace;
}