body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: .5rem 0;
}

#contenedor {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    background: #f0f8ff;
}

.globo {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s;
}